<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>最小二乗法(1次関数) - About</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="linear-least-squares-method">
  <meta name="author" content="pnlybubbles">
  <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/main.css">
  <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/js/jquery.smoothScroll.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="header container media-fit">
    <div class="page-header">
      <h1>最小二乗法(1次関数)自動評価</h1>
    </div>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">LeastSquaresMethod</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li><a href="/">App</a></li>
          <li><a href="/about">About</a></li>
          <li class="active"><a href="/help">Help</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="main">
      <div class="tips section">
        <h2>サンプル</h2>
        <label>csvデータの例</label>
        <pre>
1,4.5
2,6.8
3,8.2
4,10.2
5,12.7
6,14.5
7,16.8
8,19.1
9,20.3
10,22.5</pre>
        <label>実行結果</label>
        <br>
        <a class="btn btn-primary" href="/?type=plain&data=1,4.5:2,6.8:3,8.2:4,10.2:5,12.7:6,14.5:7,16.8:8,19.1:9,20.3:10,22.5">実行結果にジャンプ</a>
      </div>
      <div class="tips section">
        <h2>操作手順</h2>
        <a class="btn btn-primary" href="#both">かんたん</a>
        <a class="btn btn-primary" href="#windows">Windowsの方</a>
        <a class="btn btn-primary" href="#mac">Macの方</a>
        <h2 id="both">かんたん</h2>
        <label>エクセルでデータを選択し"コピー"でデータをコピーします。</label>
        <div class="img_wrap">
          <img src="/image/img_1s.png" class="img-thumbnail" \>
        </div>
        <label>ページの入力欄に"ペースト"して評価ボタンを押します。自動的にカンマ区切りに直して評価されます。</label>
        <div class="img_wrap">
          <img src="/image/img_2s.png" class="img-thumbnail" \>
        </div>
        <h2 id="windows">Windows</h2>
        <label>エクセルを開き最小二乗法に適用したいデータのみを取り出します。(A列がx軸、B列がy軸)</label>
        <div class="img_wrap">
          <img src="/image/img_1w.png" class="img-thumbnail" \>
        </div>
        <label>csvデータ形式で保存します。</label>
        <div class="img_wrap">
          <img src="/image/img_2w.png" class="img-thumbnail" \>
        </div>
        <label>保存したcsvファイルをドラッグ&ドロップします。</label>
        <div class="img_wrap">
          <img src="/image/img_3w.png" class="img-thumbnail" \>
        </div>
        <h2 id="mac">Mac</h2>
        <label>エクセルを開き最小二乗法に適用したいデータのみを取り出します。(A列がx軸、B列がy軸)</label>
        <div class="img_wrap">
          <img src="/image/img_1.png" class="img-thumbnail" \>
        </div>
        <label>csvデータ形式で保存します。</label>
        <div class="img_wrap">
          <img src="/image/img_2.png" class="img-thumbnail" \>
        </div>
        <label>保存したcsvファイルをドラッグ&ドロップします。</label>
        <div class="img_wrap">
          <img src="/image/img_3.png" class="img-thumbnail" \>
        </div>
      </div>
      <div class="footer">
        <p class="text-center">©2014 pnlybubbles</p>
      </div>
    </div>
  </div>
</body>
</html>